<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.group4.mapper.ex.OptionEXMapper">
    <insert id="addOption">
        insert into briup_options values (#{id},#{label},#{name},#{score},#{question.id})
    </insert>

    <update id="updateOrAdd">
        update briup_options set name =#{name},label=#{label} where id=#{question.id}   </update>
</mapper>




