<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.group4.mapper.ex.QuestionEXMapper">
    <insert id="add">
        <selectKey keyColumn="id" keyProperty="id" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into briup_question values (#{id},#{name},#{type})

    </insert>

    <update id="updateOrAdd">

        update briup_question set name=#{name},type =#{type}where id=#{id}

    </update>
    <select id="searchQ">
select briup_question

    </select>

    <resultMap id="aaa" type="com.example.group4.bean.ex.QuestionEX">
        <id column="id" property="id"></id>
        <id column="name" property="name"></id>
        <id column="type" property="type"></id>
        <collection property="options" column="id" ofType="com.example.group4.bean.Options" select="selectOptions"></collection>
    </resultMap>

    <select id="searchQuestions" resultMap="aaa">
        select * from briup_question where name like word
    </select>
    <resultMap id="bbb" type="com.example.group4.bean.Options">
        <id column="id" property="id"></id>
        <result property="label" column="label"></result>
        <result property="name" column="name"></result>
        <result property="score" column="score"></result>
        <result property="questionId" column="question_id"></result>
    </resultMap>
    <select id="selectOptions" resultMap="bbb">
        select * from briup_options where question_id = #{id}
    </select>

    <select id="selectAll" resultMap="aaa">
        select * from briup_question
    </select>

    <select id="selectById" resultMap="aaa">
        select * from briup_question where id=#{id}
    </select>


</mapper>