<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.group4.mapper.ex.QuestionnaireEXMapper">
    <insert id="insertQuestionnaire">
        <selectKey keyColumn="id" keyProperty="id" order="AFTER" resultType="int">
            select LAST_INSERT_ID()
        </selectKey>
        insert into briup_questionnaire values (#{id},#{name},#{description},#{date})
    </insert>

   <select id="selectQuestion" resultType="com.example.group4.bean.Question">
       select b.* from briup_qqn a,briup_question b where a.questionnaire_id=#{id} and a.question_id=b.id
   </select>


    <resultMap id="aaa" type="com.example.group4.bean.ex.QuestionEX">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="type" property="type"></result>
        <collection property="options" column="id" ofType="com.example.group4.bean.Options" select="selectOption"></collection>
    </resultMap>
    <select id="selectQuestionAndOption" resultMap="aaa">
         select b.* from briup_qqn a,briup_question b where a.questionnaire_id=#{id} and a.question_id=b.id
    </select>
    <select id="selectOption" resultType="com.example.group4.bean.Options">
        select a.* from briup_options a where a.question_id=#{id}
    </select>
</mapper>