<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.group4.mapper.ex.SurveyEXMapper">

    <delete id="deleteByQnid" >
         delete from briup_survey where questionnaire_id=#{id}
    </delete>


    <select id="selectAll" resultType="com.example.group4.bean.Survey">
        select * from briup_survey
    </select>

</mapper>